.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.verify-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
